@model TeamworkReporter.Models.Auth.ForgetPasswordViewModel

@{
    ViewBag.Title = "Forget Password";
}

@using (Html.BeginForm("ForgetPassword", "Auth", FormMethod.Post, new {@class = "form-auth"}))
{
    @Html.ValidationSummary(true)
    <div>Your password will be rendered and sent to the given email.</div>
    <h4>Reset Password</h4>
    @Html.EditorForModel()
    <button type="submit" class="btn btn-lg btn-primary btn-block">Reset</button>
    <button type="button" class="btn btn-xs btn-default btn-block">@Html.ActionLink("Sign In","SignIn")</button>
}