@model TeamworkReporter.Models.Auth.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}

@using (Html.BeginForm("ResetPassword", "Auth", FormMethod.Post, new {@class = "form-auth"}))
{
    @Html.ValidationSummary(true)
    <h4>Update Password</h4>
    @Html.EditorForModel()
    <button type="submit" class="btn btn-lg btn-primary btn-block">Save</button>
}