@model TeamworkReporter.Models.Auth.SignUpViewModel

@{
    ViewBag.Title = "Sign Up";
}

@using (Html.BeginForm("SignUp", "Auth", FormMethod.Post, new {@class = "form-auth"}))
{
    @Html.ValidationSummary(true)
    <h4>Sign Up</h4>
    @Html.EditorForModel()
    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
    <button type="button" class="btn btn-xs btn-default btn-block">@Html.ActionLink("Sign In","SignIn")</button>
}